In [3]:
Name="Rutuja"
Sirname="wagh"
Name+" "+Sirname

'Rutuja wagh'

In [7]:
a=2.3
b=312
c=3j
print(type(a))
print(type(b))
print(type(c))
print(int(a))
print(float(312))
print(complex(a))
print(complex(b))

<class 'float'>
<class 'int'>
<class 'complex'>
2
312.0
(2.3+0j)
(312+0j)

In [8]:
Name=input()
Age=input()
Class="TYBSc"
College="S P College"
"My name is {} and I'm {} years old.I study in {} in {}".format(Name,Age,Class,College)

Rutuja
21

"My name is Rutuja and I'm 21 years old.I study in TYBSc in S P College"

In [11]:
quantity=3
item="bread"
price=5
country="Indian"
myorder="I want {a} pieces of {b} for {c} rupees.Rupees is {d} currency."
print(myorder.format(b=item,c=price,a=quantity,d=country))

I want 3 pieces of bread for 5 rupees.Rupees is Indian currency.